@model IEnumerable<LexPharm.Models.ApplicationUser>
@{ ViewData["Title"] = "ConsultDoctor";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid">
    <h1>Consult Doctors</h1>



    @if (Model != null && Model.Count() > 0)
    {
        <table class="table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>MedicalField</th>
                    <th>Address</th>
                    <th>ProfilePicture</th>
                </tr>

            </thead>
            @foreach (var obj in Model)
            {
                <tbody>
                    <tr>
                        <td>@obj.FirstName</td>
                        <td>@obj.LastName</td>
                        <td>@obj.Email</td>
                        <td> @obj.PhoneNumber</td>
                        <td>@obj.MedicalField</td>
                        <td>@obj.Address</td>
                        <td>@obj.ProfilePicture</td>
                        <td class="text-center">

                            <a role="button" class="btn btn-primary w-75" data-toggle="modal" data-target="#myModal" asp-controller="MyRegistrationForm" asp-route-Id="@obj.Id">Explain Health Issue</a>


                        </td>
                    </tr>
                </tbody>
            }



        </table>
    }
    else
    {
    }







    

</div>